<% include ../partials/header %>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="w-50">歌曲名</th>
                <th scope="col" class="w-25">下载次数</th>
                <th scope="col" class="w-25">下载</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i = 1; i <= allMp3.length; i++){ %>
                <tr>
                    <th scope="row"><%= (page - 1) * 30 + i %></th>
                    <td class="pt-3">
                        <%= allMp3[i - 1].name %>
                    </td>
                    <td class="pt-3">
                        <%= allMp3[i - 1].downloadTimes %>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/resources/mp3/<%= allMp3[i - 1]._id %>" role="button">下载</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-end">

            <li class="page-item <%= page === 1 ? "disabled" : "" %>">
                <a class="page-link" href="?page=<%= page - 1 %>">上一页</a>
            </li>

            <% for(var i = 1; i <= totalPages; i++){ %>
                <li class="page-item <%= page === i ? "active" : "" %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>

            <li class="page-item <%= page === totalPages ? "disabled" : "" %>">
                <a class="page-link" href="?page=<%= page + 1 %>">下一页</a>
            </li>
            
        </ul>
    </nav>

</div>




<% include ../partials/footer %>
