<% include ../partials/header %>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="w-50">歌曲名</th>
                <th scope="col" class="w-25">下载次数</th>
                <th scope="col" class="w-25">下载</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i = 1; i <= allMp3.length; i++){ %>
                <tr>
                    <th scope="row"><%= (page - 1) * 50 + i %></th>
                    <td class="pt-3">
                        <%= allMp3[i - 1].name %>
                    </td>
                    <td class="pt-3">
                        <%= allMp3[i - 1].downloadTimes %>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/resources/mp3/<%= allMp3[i - 1]._id %>" role="button">下载</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-end">
            <% var next = page;     %>
            <% if(page === 7){      %>
            <%    next = 7;         %>
            <% }else{               %>
            <%    next = next + 1;  %>
            <% } %>

            <% var pre = page;      %>
            <% if(page === 1){      %>
            <%    pre = 1;          %>
            <% }else{               %>
            <%    pre = pre - 1;    %>
            <% } %>

            <li class="page-item <%= page === 1 ? "disabled" : "" %>">
                <a class="page-link" href="page-<%= pre %>">上一页</a>
            </li>
            
            <li class="page-item <%= page === 1 ? "active" : "" %>">
                <a class="page-link" href="page-1">1</a>
            </li>
            <li class="page-item <%= page === 2 ? "active" : "" %>">
                <a class="page-link" href="page-2">2</a>
            </li>
            <li class="page-item <%= page === 3 ? "active" : "" %>">
                <a class="page-link" href="page-3">3</a>
            </li>
            <li class="page-item <%= page === 4 ? "active" : "" %>">
                <a class="page-link" href="page-4">4</a>
            </li>
            <li class="page-item <%= page === 5 ? "active" : "" %>">
                <a class="page-link" href="page-5">5</a>
            </li>
            <li class="page-item <%= page === 6 ? "active" : "" %>">
                <a class="page-link" href="page-6">6</a>
            </li>
            <li class="page-item <%= page === 7 ? "active" : "" %>">
                <a class="page-link" href="page-7">7</a>
            </li>

            <li class="page-item <%= page === 7 ? "disabled" : "" %>">
                <a class="page-link" href="page-<%= next %>">下一页</a>
            </li>
            
        </ul>
    </nav>

</div>




<% include ../partials/footer %>