<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="container mt-3">
                <p class="d-flex justify-content-end">
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">发布新帖</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body py-0">
                            <form action="/subjects" method="POST">
                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">主题</span>
                                    </div>
                                    <input name="subjectTitle" type="text" class="form-control">
                                </div>
                    
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="height: 200px">内容</span>
                                    </div>
                                    <textarea name="subjectContent" class="form-control" style="resize: none"></textarea>
                                </div>
                                <p class="d-flex justify-content-end">
                                    <input class="d-block btn btn-success mt-3" type="submit" value="发布">
                                </p>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="w-50" >主题</th>
                            <th scope="col" class="w-25">发帖用户</th>
                            <th scope="col" class="w-25">最后更新</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% subjects.forEach(function(subj){ %>
                            <tr>
                                <td class="w-50"><a href="<%= subj._id %>"><%= subj.title %></a></td>
                                <td class="w-25"><a href="/users/<%= subj.user.id %>"><%= subj.user.username %></a></td>
                                <td class="w-25"><%= subj.updatedAt.toString().substring(0, 21) %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <nav>
                <ul class="pagination">
                    <li class="page-item <%= page === 1 ? "disabled" : "" %>">
                        <a class="page-link" href="?page=<%= page - 1 %>">上一页</a>
                    </li>

                    <% for(var i = 1; i <= totalPages; i++){        %>
                        <li class="page-item <%= page === i ? "active" : "" %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>

                    <li class="page-item <%= page === totalPages ? "disabled" : "" %>">
                        <a class="page-link" href="?page=<%= page + 1 %>">下一页</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-2">
            <h2>Something comes later</h2>
        </div>
    </div>
</div>


<% include ../partials/footer %>